<div id="wrap">
  <!-- TODO : header 주석처리 -->
  <!-- <div id="header">
    <h1 class="header-logo">
      <img src="../../assets/images/common/common-logo.png" alt="WISE CONVEY" />
    </h1>
    <a
      href="#"
      class="btn md circle default ml-auto"
      onclick="wise.modalOpen('login-modal');"
      >로그인</a
    >
  </div> -->
  <div id="container">
    <div id="lnb">
      <a href="#" class="btn-control">컨트롤</a>
      <div class="lnb-menu">
        <h2>
          <img
            src="../../assets/images/common/lnb-logo.png"
            alt="WISE CONVEY"
          />
        </h2>
        <p class="user-name"><span class="name">김세영</span>님</p>
        <ul class="menu-depth1">
          <li>
            <!-- 클릭하면 .active 추가 / .menu-depth2 자동으로 보여짐 -->
            <a href="#" class="menu-depth1-link active">문서</a>
            <ul class="menu-depth2">
              <li>
                <a href="#" class="menu-depth2-link">서식 등록하기</a>
              </li>
              <li>
                <!-- 활성화 된 메뉴 -->
                <a href="#" class="menu-depth2-link active"
                  >기존 서식 수정하기</a
                >
              </li>
              <li>
                <a href="#" class="menu-depth2-link">문서 및 항목 관리</a>
              </li>
              <li>
                <a href="#" class="menu-depth2-link">고객 등록 요청</a>
              </li>
            </ul>
          </li>
          <li>
            <!-- 클릭하면 .active 추가 -->
            <a href="#" class="menu-depth1-link">현황</a>
            <ul class="menu-depth2">
              <li>
                <a href="#" class="menu-depth2-link">메뉴 1</a>
              </li>
              <li>
                <!-- 활성화 된 메뉴 -->
                <a href="#" class="menu-depth2-link active">메뉴 2</a>
              </li>
              <li>
                <a href="#" class="menu-depth2-link">메뉴 3</a>
              </li>
              <li>
                <a href="#" class="menu-depth2-link">메뉴 4</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div id="contents">
      <div class="main-landing">
        <div class="pos-r">
          <img src="../../assets/images/img/img-main-landing.png" alt="" />
          <a href="#" class="btn md circle default inline"
            >Convert a Document</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
