<div
  #modalElement
  role="document"
  class="ant-modal"
  [ngClass]="config.nzClassName!"
  [ngStyle]="config.nzStyle!"
  [style.width]="config?.nzWidth! | nzToCssUnit"
>
  <div class="ant-modal-content">
    <button *ngIf="config.nzClosable" nz-modal-close (click)="onCloseClick()"></button>
    <div *ngIf="config.nzTitle" nz-modal-title></div>
    <div class="ant-modal-body" [ngStyle]="config.nzBodyStyle!">
      <ng-template cdkPortalOutlet></ng-template>
      <div *ngIf="isStringContent" [innerHTML]="config.nzContent"></div>
    </div>
    <div
      *ngIf="config.nzFooter !== null"
      nz-modal-footer
      [modalRef]="modalRef"
      (cancelTriggered)="onCloseClick()"
      (okTriggered)="onOkClick()"
    ></div>
  </div>
</div>
