<ng-container *ngIf="config.nzFooter; else defaultFooterButtons">
  <ng-container
    *nzStringTemplateOutlet="
      config.nzFooter;
      context: { $implicit: config.nzComponentParams, modalRef: modalRef }
    "
  >
    <div *ngIf="!buttonsFooter" [innerHTML]="config.nzFooter"></div>
    <ng-container *ngIf="buttonsFooter">
      <button
        *ngFor="let button of buttons"
        nz-button
        (click)="onButtonClick(button)"
        [hidden]="!getButtonCallableProp(button, 'show')"
        [nzLoading]="getButtonCallableProp(button, 'loading')"
        [disabled]="getButtonCallableProp(button, 'disabled')"
        [nzType]="button.type!"
        [nzDanger]="button.danger"
        [nzShape]="button.shape!"
        [nzSize]="button.size!"
        [nzGhost]="button.ghost!"
      >
        {{ button.label }}
      </button>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #defaultFooterButtons>
  <button
    *ngIf="config.nzCancelText !== null"
    [attr.cdkFocusInitial]="config.nzAutofocus === 'cancel' || null"
    nz-button
    (click)="onCancel()"
    [nzLoading]="!!config.nzCancelLoading"
    [disabled]="config.nzCancelDisabled"
  >
    {{ config.nzCancelText || locale.cancelText }}
  </button>
  <button
    *ngIf="config.nzOkText !== null"
    [attr.cdkFocusInitial]="config.nzAutofocus === 'ok' || null"
    nz-button
    [nzType]="config.nzOkType!"
    [nzDanger]="config.nzOkDanger"
    (click)="onOk()"
    [nzLoading]="!!config.nzOkLoading"
    [disabled]="config.nzOkDisabled"
  >
    {{ config.nzOkText || locale.okText }}
  </button>
</ng-template>
