app-root {
  position: relative;
  z-index: 0;
  display: block;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*:focus {
  outline: 0 none;
}
