<div class="ant-select-item-option-content">
  <ng-template [ngIf]="customContent" [ngIfElse]="noCustomContent">
    <ng-template [ngTemplateOutlet]="template"></ng-template>
  </ng-template>
  <ng-template #noCustomContent>{{ label }}</ng-template>
</div>
<div
  *ngIf="showState && selected"
  class="ant-select-item-option-state"
  style="user-select: none"
  unselectable="on"
>
  <i
    nz-icon
    nzType="check"
    class="ant-select-selected-icon"
    *ngIf="!icon; else icon"
  ></i>
</div>
